# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# build artifacts
/dist/
.parcel-cache/

# temporary files
*~
*.swp
*.swo

# TypeScript
/out/

# Yarn files
.yarn-integrity
